GettingStartedClient/Service References/WindowsServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import schemaLocation="http://localhost:8001/GettingStarted/service?xsd=xsd0" namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import schemaLocation="http://localhost:8001/GettingStarted/service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_AddMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMethod" />
  </wsdl:message>
  <wsdl:message name="ICalculator_AddMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMethodResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_SubtractMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:SubtractMethod" />
  </wsdl:message>
  <wsdl:message name="ICalculator_SubtractMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractMethodResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_MultiplyMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyMethod" />
  </wsdl:message>
  <wsdl:message name="ICalculator_MultiplyMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyMethodResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DivideMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:DivideMethod" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DivideMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="AddMethod">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/AddMethod" message="tns:ICalculator_AddMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/AddMethodResponse" message="tns:ICalculator_AddMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubtractMethod">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/SubtractMethod" message="tns:ICalculator_SubtractMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/SubtractMethodResponse" message="tns:ICalculator_SubtractMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MultiplyMethod">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/MultiplyMethod" message="tns:ICalculator_MultiplyMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/MultiplyMethodResponse" message="tns:ICalculator_MultiplyMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DivideMethod">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/DivideMethod" message="tns:ICalculator_DivideMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/DivideMethodResponse" message="tns:ICalculator_DivideMethod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>