WCFServiceLibrary/GettingStartedClient/Service References/IISSSLServiceRef/SSLServiceIIS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SSLServiceIIS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ISSLServiceIIS_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:553/WCFIISSSLHostedCal.SSLServiceIIS/?xsd=xsd0" namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import schemaLocation="https://localhost:553/WCFIISSSLHostedCal.SSLServiceIIS/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISSLServiceIIS_Add_InputMessage">
    <wsdl:part xmlns:q1="http://Microsoft.ServiceModel.Samples" name="parameters" element="q1:Add" />
  </wsdl:message>
  <wsdl:message name="ISSLServiceIIS_Add_OutputMessage">
    <wsdl:part xmlns:q2="http://Microsoft.ServiceModel.Samples" name="parameters" element="q2:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ISSLServiceIIS_Subtract_InputMessage">
    <wsdl:part xmlns:q3="http://Microsoft.ServiceModel.Samples" name="parameters" element="q3:Subtract" />
  </wsdl:message>
  <wsdl:message name="ISSLServiceIIS_Subtract_OutputMessage">
    <wsdl:part xmlns:q4="http://Microsoft.ServiceModel.Samples" name="parameters" element="q4:SubtractResponse" />
  </wsdl:message>
  <wsdl:message name="ISSLServiceIIS_Multiply_InputMessage">
    <wsdl:part xmlns:q5="http://Microsoft.ServiceModel.Samples" name="parameters" element="q5:Multiply" />
  </wsdl:message>
  <wsdl:message name="ISSLServiceIIS_Multiply_OutputMessage">
    <wsdl:part xmlns:q6="http://Microsoft.ServiceModel.Samples" name="parameters" element="q6:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="ISSLServiceIIS_Divide_InputMessage">
    <wsdl:part xmlns:q7="http://Microsoft.ServiceModel.Samples" name="parameters" element="q7:Divide" />
  </wsdl:message>
  <wsdl:message name="ISSLServiceIIS_Divide_OutputMessage">
    <wsdl:part xmlns:q8="http://Microsoft.ServiceModel.Samples" name="parameters" element="q8:DivideResponse" />
  </wsdl:message>
  <wsdl:portType name="ISSLServiceIIS">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Add" message="tns:ISSLServiceIIS_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/AddResponse" message="tns:ISSLServiceIIS_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Subtract" message="tns:ISSLServiceIIS_Subtract_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/SubtractResponse" message="tns:ISSLServiceIIS_Subtract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Multiply" message="tns:ISSLServiceIIS_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/MultiplyResponse" message="tns:ISSLServiceIIS_Multiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Divide" message="tns:ISSLServiceIIS_Divide_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/DivideResponse" message="tns:ISSLServiceIIS_Divide_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISSLServiceIIS" type="tns:ISSLServiceIIS">
    <wsp:PolicyReference URI="#BasicHttpBinding_ISSLServiceIIS_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/ICalculator/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/ICalculator/Subtract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/ICalculator/Multiply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/ICalculator/Divide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SSLServiceIIS">
    <wsdl:port name="BasicHttpBinding_ISSLServiceIIS" binding="tns:BasicHttpBinding_ISSLServiceIIS">
      <soap:address location="https://localhost:553/WCFIISSSLHostedCal.SSLServiceIIS/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>